<!DOCTYPE html>
<html ng-app="ShoppingApp">
	<head>
		<title>Quantity to Purchase</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta charset="utf-8">
		<script src="js/angular.min.js"></script>
		<script src="js/angular-resource.min.js"></script>
		<script src="js/ngStorage.min.js"></script>
		<script src="js/shopping.js"></script>
	</head>
	<body ng-controller="QuantityController as quantCtrl" ng-init="quantCtrl.getProduct()">
		
		<div ng-include="'menu.html'"></div>

		<h1>How many do you want to buy?</h1>
			<table>
			<tr>
				<th>ID</th>
				<td>{{quantCtrl.selectedProduct.id}}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{quantCtrl.selectedProduct.name}}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{quantCtrl.selectedProduct.description}}</td>
			</tr>
			<tr>
				<th>Price</th>
				<td>{{quantCtrl.selectedProduct.price}}</td>
			</tr>
			<tr>
				<th>Quantity available</th>
				<td>{{quantCtrl.selectedProduct.quantity}}</td>
			</tr>
			</table>
		

		<fieldset id="quantity">
			<legend>Quantity to buy</legend>
			<ul>
				<li>
					<label id="howMany" for="amount">How many?</label>
					<input type="text" name="amount" id="amount" ng-model="quantity">
				</li> 
				<li>
					<button id="addToCart" ng-click="quantCtrl.addToCart(quantity)">Add to Cart</button>
				</li>

			</ul>
		</fieldset>

	</body>
</html>