<!DOCTYPE html>
<html ng-app="ShoppingApp">
	<head>
		<title>Sign in</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="js/angular.min.js"></script>
		<script src="js/angular-resource.min.js"></script>
		<script src="js/ngStorage.min.js"></script>
		<script src="js/shopping.js"></script>
	</head>
	
	<body>
		<nav id="menu" ng-controller="CustomerController as custCtrl" ng-init="custCtrl.checkSignIn()">
			
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="View.html">Browse Products</a></li>
				<li><a href="cart.html">View Cart </a></li>
				<li><a href="#" ng-if="custCtrl.signIn" ng-click="custCtrl.signOut()">Sign Out</a></li>
			</ul>
			<p id="welcome">{{custCtrl.welcome}}</p>
		</nav>
		
		
		
		<h1>Sign In</h1>
		
      <form ng-controller="CustomerController as custCtrl"  ng-submit="custCtrl.signIn(userName, password)">
			<p id="message">{{custCtrl.signInMessage}}</p>
			<fieldset>
				<legend>Account Details</legend>
				<ul>
					<li>
						<label for="userName">User Name:</label>
						<input type="text" ng-model = "userName" name="userName"
								 id="userName" title="Please enter your user name" 
								 placeholder="Please enter your user name" required>
					</li>
					<li>
						<label for="password">Password:</label>
						<input type="password" ng-model = "password" name="password" 
								 id="password" title="Please enter your password" 
								 placeholder="Please enter your password" required>
					</li>
					<li>
						<div class="createAccount">
							<button class="createAccount" type="submit">Sign In</button>
						</div>
					</li>
				</ul>

			</fieldset>
		</form>
	</body>
</html>
